* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  /* ===== ==Home== ===== */

  body {
    background: linear-gradient(to bottom right, #2f2f2f, #b5aa95);
    color: #8b6940;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.8s, color 0.8s;
  }
  /* ===== Dark mode background ===== */

  body.dark-mode {
    background: #282525;
    color: #f2f2f2;
  }
  
/* =====Dark mode button===== */
.dark-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #8b6940;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000;
  }
  
  .dark-toggle:hover {
    background: linear-gradient(to right, #b48a56, #e6c67a);
  }
  
/* ===== login container===== */
.login-page {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 90%;
    max-width: 850px;
  }
  
  .login-left {
    flex: 1;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-img {
    width: 100%;
    height: 100%;
    max-width: 500px;
  }
  
  .login-right {
    flex: 1;
    padding: 30px;
  }
  
  .login-right h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8b6940;
  }
  
/* ===== label ===== */
form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  form input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  form input[type="email"]:focus {
    border-color: #e6c67a;
    outline: none;
    box-shadow: 0 0 5px rgba(230, 198, 122, 0.6);
  }
  
/* ===== Send Email button ===== */
form input[type="submit"] {
    background-color: #8b6940;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 15px;
  }
  
  form input[type="submit"]:hover {
    transition: background-color 0.5s, color 0.5s;

    background: linear-gradient(to right, #b48a56, #e6c67a);
  }

  /* ===== Back to Login button ===== */

  .back-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 8px;
    background-color: #eee;
    border-radius: 6px;
    text-decoration: none;
    color: #362205d0;
    /* font-weight: bold; */
    transition: all 0.3s ease;
    border: 2px solid transparent;
    font-size: 13px;

  }
  
  .back-btn:hover {
    background: #fdf1e6;
    border-color: #8b6940;
    color: white;
    transition: background-color 0.5s, color 0.5s;
    background: linear-gradient(to right, #b48a56, #e6c67a);
    font-weight: bold;


  }
  
  
  /* =====Dark mode ===== */

  body.dark-mode .login-page {
    background-color: #1e1e1e;
  }
  
  body.dark-mode .login-right h2,
  body.dark-mode form label {
    color: #f2f2f2;
  }
  
  body.dark-mode form input[type="email"] {
    background-color: #2a2a2a;
    color: #fff;
    border: 2px solid #555;
  }
  
  body.dark-mode form input[type="submit"] {
    background-color: #bd9530;
  }
  
  body.dark-mode form input[type="submit"]:hover {
    transition: background-color 0.5s, color 0.5s;
    background: linear-gradient(to right, #836c49, #c2a86e);
  }
  
  body.dark-mode .back-btn {
    background-color: #333;
    color: #f2f2f2;
  }
  
  body.dark-mode .back-btn:hover {
    background-color: #444;
    border-color: #bd9530;
    color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .login-page {
      flex-direction: column;
    }
  
    .logo-img {
      max-width: 300px;
      margin: 20px auto;
    }
  
    .back-btn {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  